PROJECT_NAME="Task 1 Backend"
VERSION="0.1.0"
API_V1_PREFIX="/api/v1"

FROM_EMAIL="your.email@gmail.com"
APP_PASSWORD="your_app_password"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""

TWILIO_ACCOUNT_SID="sid"
TWILIO_AUTH_TOKEN="token"
TWILIO_SERVICE_SID="VAbee5176660d6b6ee084308283716466a"
TWILIO_SENDER_PHONE="+..."

DB_URL='postgresql+asyncpg://postgres:pass@localhost:5432/mydb'
