PROJECT_NAME="Task 1 Backend"
VERSION="0.1.0"
API_V1_PREFIX="/api/v1"
LOG_LEVEL="INFO"
LOG_STDOUT_ENABLED="true"

OTEL_ENABLED="false"
OTEL_SERVICE_NAME="cakf-task1-backend"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=""
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=""
OTEL_TRACES_ENABLED="true"
OTEL_LOGS_ENABLED="true"

JWT_SECRET="secret"

FROM_EMAIL="your.email@gmail.com"
APP_PASSWORD="your_app_password"

REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_PASSWORD=""

TWILIO_ACCOUNT_SID="sid"
TWILIO_AUTH_TOKEN="token"
TWILIO_SERVICE_SID="VAbee5176660d6b6ee084308283716466a"
TWILIO_SENDER_PHONE="+..."

GOOGLE_CLIENT_ID="client_id"

FRONTEND_URL="http://localhost:5173"

DB_URL='postgresql+asyncpg://postgres:pass@localhost:5432/mydb'
DATABASE_URL=''
